on:
  push:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:
jobs:
  pack:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read nuspec version
        id: nuspec
        shell: pwsh
        run: |
          $nuspecPath = "NugetFolder/BaHooo.ReSharper.I18n.ru/BaHooo.ReSharper.I18n.ru.nuspec"
          $xml = Get-Content $nuspecPath -Raw
          $match = [Regex]::Match($xml, '<version>(.*?)</version>', 'IgnoreCase')
          if (-not $match.Success) { throw "Version not found in nuspec" }
          $version = $match.Groups[1].Value
          Write-Host "Found version: $version"
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Check if version changed
        id: check
        shell: pwsh
        run: |
            $version = "${{ steps.nuspec.outputs.version }}"
            Write-Host "Current version: $version"
        
            $latest = gh release list --limit 1 --json tagName --jq '.[0].tagName'
            Write-Host "Latest release tag: $latest"
        
            if ($version -eq $latest) {
            "skip=true" >> $env:GITHUB_OUTPUT
            } else {
            "skip=false" >> $env:GITHUB_OUTPUT
            }
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Run resx-to-resources.ps1
        if: steps.check.outputs.skip == 'false'
        shell: pwsh
        run: |
          pwsh .\resx-to-resources.ps1 `
            -ResxFolder ".\raw-resx-done_ru-RU" `
            -ResourcesOutput ".\build\resources" `
            -LogFile "build.log" `
            -ErrorLogFile "build.errors.log"

      - name: Build NuGet package
        if: steps.check.outputs.skip == 'false'
        shell: pwsh
        run: pwsh .\NugetFolder\BaHooo.ReSharper.I18n.ru\build.ps1 -Output ".\NugetFolder\artifacts"

      - name: Build Marketplace package
        if: steps.check.outputs.skip == 'false'
        shell: pwsh
        run: pwsh .\MarketplaceFolder\BaHooo.ReSharper.I18n.ru\build.ps1 -Output ".\MarketplaceFolder\artifacts"
